<div class="all-posts">
   <h1 class="posts-header">Posts</h1>
   <div class="posts-list">
    <% @posts.each do |post| %>
    
      
      <%= render 'output-all-posts', post: post %>

    
    <% end %>
    </div>
  </div>